<section class="full-height-container mobHeightAutoPure blackBG" ng-class="{'homeContainer': true, 'multiPost' : true}">
    <div class="homeSection mobHeightAuto">
        <div class="homeArticle quarterWidth articlePlaced zooming noOverflow" ng-click="item.grid1.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h5 class="title-responsive-medium" ng-bind-html="item.grid1.title"></h5>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid1.subtitle"></span>
                </div>
                <div class="subheading">
                    <span ng-class="item.grid1.getTypeClass()" ng-bind-html="item.grid1.sub_type | uppercase"></span>

                     | <span ng-bind-html="item.grid1.location"></span>
                    
                </div>
            </div>

            <div class="hArticleImg zoomer" ng-style="{'background-image': 'url(\'{{item.grid1.background.src | asset}}\')'}"></div>
        </div>

  <!--      
<div class="homeArticle quarterWidth articlePlaced tweetHolder">
            <div class="table100">
                <div class="homeTweetText">
                    <div class="subheading">
                        <span><a href="https://twitter.com/FITCHdesign" target="_blank" ng-class="item.grid2.getTypeClass()">@{{item.grid2.user.screen_name | uppercase}}</a></span>

                        <span>
                            | <span ng-bind-html="item.grid2.created_at"></span>
                        </span>
                    </div>

                    <div class="homeSubTitle copy-reduced">
                        <span ng-bind-html="item.grid2.text"></span>
                    </div>
                </div>
            </div>

            <div class="birdCont">
                <div class="birdBack"><img src="assets/frontend/images/bird-lighter.png"></div>
            </div>

            <div class="tweetArticle" style="background: #1c1819;"></div>
        </div>
-->
         <div class="homeArticle quarterWidth articlePlaced zooming noOverflow" ng-click="item.grid2.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h5 class="title-responsive-medium" ng-bind-html="item.grid2.title"></h5>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid2.subtitle"></span>
                </div>

                <div class="subheading">
                    <span ng-class="item.grid2.getTypeClass()" ng-bind-html="item.grid2.sub_type | uppercase"></span>

                     | <span ng-bind-html="item.grid2.location"></span>
                    <!--
                    <span ng-if="item.grid2.tags && item.grid2.tags[0]">
                        | <span ng-bind-html="item.grid2.tags[0]"></span>
                    </span>-->
                </div>
            </div>
            <div class="hArticleImg zoomer"  ng-style="{'background-image': 'url(\'{{item.grid2.background.src | asset}}\')'}" ></div>
        </div>

        <div class="homeArticle halfWidth articlePlaced zooming noOverflow" ng-click="item.grid3.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h2 class="title-responsive-medium" ng-bind-html="item.grid3.title"></h2>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid3.subtitle"></span>
                </div>

                <div class="subheading">
                    <span ng-class="item.grid3.getTypeClass()" ng-bind-html="item.grid3.sub_type | uppercase"></span>

                 | <span ng-bind-html="item.grid3.location"></span>
                </div>
            </div>

            <div class="hArticleImg zoomer" ng-style="{'background-image': 'url(\'{{item.grid3.background.src | asset}}\')'}"></div>
        </div>

        <div class="homeArticle halfWidth articlePlaced zooming noOverflow" ng-click="item.grid4.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h2 class="title-responsive-medium" ng-bind-html="item.grid4.title"></h2>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid4.subtitle"></span>
                </div>

                <div class="subheading">
                    <span ng-class="item.grid4.getTypeClass()" ng-bind-html="item.grid4.sub_type | uppercase"></span>

                    | <span ng-bind-html="item.grid4.location"></span>
                </div>
            </div>

            <div class="hArticleImg zoomer" ng-style="{'background-image': 'url(\'{{item.grid4.background.src | asset}}\')'}" ng-class="{'zoomer': hov3}"></div>
        </div>

        <div class="homeArticle quarterWidth articlePlaced zooming noOverflow" ng-click="item.grid5.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h5 class="title-responsive-medium" ng-bind-html="item.grid5.title"></h5>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid5.subtitle"></span>
                </div>

                <div class="subheading">
                    <span ng-class="item.grid5.getTypeClass()" ng-bind-html="item.grid5.sub_type | uppercase"></span>

                    | <span ng-bind-html="item.grid5.location"></span>
                </div>
            </div>
            <div class="hArticleImg zoomer"  ng-style="{'background-image': 'url(\'{{item.grid5.background.src | asset}}\')'}" ></div>
        </div>

        <div class="homeArticle quarterWidth articlePlaced zooming noOverflow" ng-click="item.grid6.go()">
            <div class="textGrad zIndex2"></div>
            <div class="homeArticleText title-stacking">
                <h5 class="title-responsive-medium" ng-bind-html="item.grid6.title"></h5>

                <div class="homeSubTitle copy-reduced">
                    <span ng-bind-html="item.grid6.subtitle"></span>
                </div>

                <div class="subheading">
                    <span ng-class="item.grid6.getTypeClass()" ng-bind-html="item.grid6.sub_type | uppercase"></span>

                    | <span ng-bind-html="item.grid6.location"></span>
                </div>
            </div>

            <div class="hArticleImg zoomer" ng-style="{'background-image': 'url(\'{{item.grid6.background.src | asset}}\')'}" ></div>
        </div>
</section>
