<div class="main-menu" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li>
            <div ng-click="toggleMenu()" class="menuShow" ng-class="{'active': menuActive == true}">
                <div class="menLayer1"></div>
                <div class="menLayer2"></div>
                <div class="menLayer3"></div>
            </div>
        </li>

        <li class="menExpander whiteBG cf" animate-auto animate-auto-default-width="108" animate-auto-default-height="42">
            <div ng-click="goHome()" class="breadCrumbNav"><img class="FitchMain" src="assets/frontend/images/FitchBlackLogo.svg"/></div>

            <div class="oh-by-golly-crumbs" ng-show="breadcrumbs.length">
                <div class="oh-by-golly-crumbs-width">
                    <div ng-repeat="breadcrumb in breadcrumbs" class="locTitle">
                        <div class="catText">
                            <a ng-if="$index !== breadcrumbs.length - 1" ui-sref="{{breadcrumb.ref}}" ng-style="{color: '{{colors[breadcrumb.color]}}'}">{{breadcrumb.title}}</a>
                            <span ng-if="$index === breadcrumbs.length - 1" ng-style="{color: '{{colors[breadcrumb.color]}}'}">{{breadcrumb.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="main-menu main-menu-right-aligned" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li>
            <div ng-click="toggleSearch()" class="whiteBG" ng-class="{magActive: magToggle}">
                <img class="magGlass" src="assets/frontend/images/magGlass.svg"/>
                <div class="menLayer1 menSearch1"></div>
                <div class="menLayer3 menSearch2"></div>
            </div>
        </li>
    </ul>
</div>

<div class="main-menu main-menu-bottom-right-aligned" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li ng-if="showPreviewCheckbox">
            <div ng-click="clearAndRefresh()" class="whiteBG cache-button" cache-refresh>
                Clear Cache
            </div>
        </li>
        <li ng-if="showPreviewCheckbox">
            <label class="preview-checkbox whiteBG">
                Preview Mode
                <input type="checkbox" ng-click="previewMode()" ng-checked="preview" />
            </label>
        </li>
    </ul>
</div>

