<div ng-controller="NavigationController" class="transition-background-color full-height-container scroll-container noMinHeightImp" ng-style="style">
    <div class="valign">
        <div class="valign-cell menuLoc">

            <!--<ol class="scroller">
            <li><a href="work/category/artistic">Artistic</a></li>
            <li><a href="work/category/commercial">Commercial</a></li>
            <li><a href="work/category/cultural">Cultural</a></li>
            <li><a href="work/category/entertainment">Entertainment</a></li>
            <li><a href="work/category/healthcare">Healthcare</a></li>
            <li><a href="work/category/hospitality">Hospitality</a></li>
            <li><a href="work/category/institutions">Institutions</a></li>
            <li><a href="work/category/public-spaces">Public spaces</a></li>
            <li><a href="work/category/residential">Residential</a></li>
            <li><a href="work/category/retail">Retail</a></li>
            <li><a href="work/category/sport-complexes">Sport Complexes</a></li>
            </ol> -->

            <ul id="nav" ng-if="language == 'en'">
                <!--<li ng-repeat="link in links" ng-mouseenter="updateColor(link.background)"> -->
                <!--
                    <li> <a ui-sref="pages-work-index({lang:language})" ng-mouseenter="" ng-style="">
                            <h3 class="center-left-aligned-text sliding-middle-out">Work</h3>
                        </a></li> -->

                <li ng-mouseenter="updateColor('#0D0D0D')"   >
                    <a ng-click="toggleCustom()" ng-mouseenter="" ng-style="" class="">
                        <h3 class="center-left-aligned-text sliding-middle-out">Work</h3>
                    </a>
                    <div class="subMenu" ng-show="custom">
                        <ul class="scroller">
                            <li><a ui-sref="pages-work-index({lang:language})">Featured</a></li>
                              <li><a  ui-sref="pages-work-category({lang:'en',id:'urban'})" >Urban</a></li>
                               <li><a ui-sref="pages-work-category({lang:'en',id:'infrastructure'})">Infrastruture</a></li>
                            <li><a ui-sref="pages-work-category({lang:'en',id:'commercial'})">Commercial</a></li>
                                 
                            <li><a ui-sref="pages-work-category({lang:'en',id:'institution'})">Institution</a></li>
                             <li><a ui-sref="pages-work-category({lang:'en',id:'hospitality'})">Hospitality</a></li>
                                        <li><a  ui-sref="pages-work-category({lang:'en',id:'residential'})">Residential</a></li>
                                            <li><a ui-sref="pages-work-category({lang:'en',id:'retail'})">Retail</a></li>
                            <li><a ui-sref="pages-work-category({lang:'en',id:'event'})" href="{{language}}/work/category/event">Event</a></li>
                        
                            <li><a ui-sref="pages-work-category({lang:'en',id:'product'})" href="{{language}}/work/category/product">Product</a></li>
                 
                        
                          
                        </ul>                   
                    </div>



                </li>



                <li ng-mouseenter="updateColor('#262626')"><a ui-sref="pages-about-index({lang:language})"  ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out " >Studio</h3>
                    </a></li>
                <li ng-mouseenter="updateColor('#404040')"><a ui-sref="pages-news({lang:language})"  ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out">News</h3>
                    </a></li>

                <li ng-mouseenter="updateColor('#595959')"><a  ng-style=""   ui-sref="pages-publications({lang:language})" >
                        <h3 class="center-left-aligned-text sliding-middle-out">Media</h3></a>
                    <!--
                <div class="subMenu">
                    <ul>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Publications</a></li>                   
                    </ul>
                </div>
                    -->
                </li>
                <li ng-mouseenter="updateColor('#737373')"  ng-mouseleave="resetcolor()"><a ui-sref="pages-contact({lang:language})"  ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out">Contact</h3>
                    </a>
                </li>


                <!--
                <div class="subMenu" ng-if="link.title=='Media'">
                <ul>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Publications</a></li>
                
                </ul>
                </div>-->
                </li>

            </ul>

            <ul id="nav" ng-if="language == 'fr'">

                <!--<li ng-repeat="link in links" ng-mouseenter="updateColor(link.background)"> -->
                <li   ng-mouseenter="updateColor('#0D0D0D')" >
                    <a ng-click="toggleCustom()"  ng-mouseenter="" ng-style="">
                        <h3 class="center-left-aligned-text" sliding-middle-out>Oeuvre</h3>
                    </a>
                    
                    <div class="subMenu subMenu_french" ng-show="custom">
                        <ul class="scroller">
                              <li><a ui-sref="pages-work-index({lang:language})">Sélection</a></li>
                         
                              <li><a ui-sref="pages-work-category({lang:'fr',id:'urbain'})">Urbain</a></li>
                               <li><a ui-sref="pages-work-category({lang:'fr',id:'infrastructure'})">Infrastructure</a></li>
                             <li> <a ui-sref="pages-work-category({lang:'fr',id:'commercial'})">Commercial</a></li>
                              <li><a ui-sref="pages-work-category({lang:'fr',id:'institutionnel'})">Institutionnel</a></li>
                               <li><a ui-sref="pages-work-category({lang:'fr',id:'hôtelier'})">Hôtelier</a></li>
                                <li><a ui-sref="pages-work-category({lang:'fr',id:'résidentiel'})">Résidentiel</a></li>
                            <li><a ui-sref="pages-work-category({lang:'fr',id:'retail'})">Retail</a></li>
                            <li><a ui-sref="pages-work-category({lang:'fr',id:'evènementiel'})">Evènementiel</a></li>
                            <li><a ui-sref="pages-work-category({lang:'fr',id:'produit'})">Produit</a></li>
                            
    
                            
                            
                        </ul>                   
                    </div>
                  
                </li>

                <li  ng-mouseenter="updateColor('#262626')"><a ui-sref="pages-about-index({lang:language})" ng-mouseenter="" ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out">L'Atelier</h3>
                    </a></li>
                <li  ng-mouseenter="updateColor('#404040')"><a ui-sref="pages-news({lang:language})" ng-mouseenter="" ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out">Actualité</h3>
                    </a></li>

                <li ng-mouseenter="updateColor('#595959')"><a ng-mouseenter="" ng-style="" ui-sref="pages-publications({lang:language})">
                        <h3 class="center-left-aligned-text sliding-middle-out">Média</h3></a>

                    <!--   <div class="subMenu">
                           <ul>
                               <li><a href="#">Prix</a></li>
                               <li><a href="#">Publications</a></li>                   
                           </ul>
                       </div> -->
                </li>
                <li ng-mouseenter="updateColor('#737373')"  ng-mouseleave="resetcolor()"><a  ui-sref="pages-contact({lang:language})" ng-mouseenter="" ng-style="">
                        <h3 class="center-left-aligned-text sliding-middle-out">Contact</h3>
                    </a>
                </li>


                <!--
                <div class="subMenu" ng-if="link.title=='Media'">
                <ul>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Publications</a></li>
                -->
            </ul>
        </div>
        </li>

        </ul>
    </div>
</div>
</div>

<style>


.subMenu_french:after
{
    width:260px !important;
     left: -581px;
   
}
    .temp:hover
    {
        background-color: yellow;
    }
    .temp
    {
        transition:  background-color 5s;
    }
    .sliding-middle-out {
        display: inline-block;
        position: relative;
        padding-bottom: 0px;
    }
    .sliding-middle-out:after {
        content: '';
        display: block;
        margin-top:1px;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    .sliding-middle-out:hover:after 
    {
        width: 40%;
        background:#FFFB00;
    }
    


</style>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!--
<script type="text/javascript" src="jquery.simplyscroll.js"></script>
<script type="text/javascript">
(function($) {
    $(function(){//on DOM ready
        $(".scroller").simplyScroll({
            customClass: 'vert',
            orientation: 'vertical',
            auto: false,
            manualMode: 'bounce',  //auto = true, 'loop' or 'bounce',
            frameRate: 20,
            speed: 20
        });
    });
})(jQuery);
</script>-->
<style>
@media all and (max-width:420px) {

    .subMenu li a
    {
        font-size:20px !important;
        color:#777 !important;
    }
    
}
</style>