<terms-result-display></terms-result-display>

<div id="search" class="valign searchPrimary">
    <div class="searchScreen" ng-show="showSearch">
        <div id="SearchFilterTop" class="table-row">
            <terms-result result="result" ng-repeat="result in results1"></terms-result>
        </div>

        <div class="table-row">
            <search-box></search-box>
        </div>

        <div id="SearchFilterBottom" class="table-row">
            <terms-result result="result" ng-repeat="result in results2"></terms-result>
        </div>
    </div>
</div>