<pager class="scroll-container scroll-container-mobile work" ng-if="workGrid && workResponsive">
    <!--first section-->
    <page index="$index" class="background-cover-center" data="item" ng-repeat="item in overview">
        <div class="homeSection fullHome minHeight700">
            <div class="textGrad"></div>

            <div class="workArticleText">
                <h1 ng-bind="item.title"></h1>

                <div ng-if="item.category">
                    <p class="half-self copy-regular"><span ng-bind-html="item.category"></span></p>
                </div>
            </div>
        </div>
    </page>
    <page component="carousel-1" index="overview.length">
        <owl-carousel owl-options="{touchDrag: false, pullDrag: false}" enable-pager="false" track-index="true" id="carousel-1" class="desktop-carousel">
            <owl-carousel-item class="full-height-container" ng-repeat="page in workGrid">
                <template-item item="page" class="full-height-container"></template-item>
            </owl-carousel-item>
        </owl-carousel>
    </page>

    <owl-carousel class="mobile-carousel">
        <owl-carousel-item class="full-height-container" ng-repeat="page in workResponsive" track-index="true">
            <template-item item="page" class="full-height-container"></template-item>
        </owl-carousel-item>
    </owl-carousel>
    <pager-footer>
        <page-footer studios="studios">
            <map>
                <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
            </map>
        </page-footer>
    </pager-footer>
</pager>