<div class="video-background" ng-if="work && related">
    <video class="video-background--video" autoplay="autoplay" ng-if="work.video.length > 0" muted muted="muted" loop="loop">
        <source src="{{work.video | trustUrl}}" type="video/mp4">
    </video>
</div>

<div ng-if="work && related" class="scroll-container show-image-background workDetails work-details-container" >

    <div class="show-header show-header--animated"  ng-class="{'show-image-background--hidden': work.video.length > 0}" ng-init="imgsrc=work.background"
         ng-mouseenter="imgsrc=member1" ng-mouseleave="imgsrc=work.background" background-image="{{imgsrc}}" style="background-image: url({{imgsrc}});"
        
         >


        <video class="show-header__inline" autoplay="autoplay" ng-if="work.video.length > 0" muted muted="muted" loop="loop" >
            <source src="{{work.video | trustUrl}}" type="video/mp4">
        </video>

        <img class="show-header__inline show-header__inline--image" ng-if="work.video.length < 1" ng-src="{{ work.background | asset }}" />
    </div>

    <div class="show-content">
        <div class="show-content__work-header">
               <span class="copy-large" ng-bind-html="work.title"></span>
           <!--   <h4 ng-bind-html="work.teaser"></h4>  -->

               
                   <ul class="pro-details" ng-if="language=='en'">
                     <!--
                       <li>
                       <div class="pro-dtl">
                       <strong>Type:</strong><div class="type"><span>{{work['work-tags']}}</span></div>
                       </div>
                       </li>-->
                       <li class="work-location">
                        <div class="pro-dtl">
                        <strong>Location:     {{temp}}</strong><div class="type"><span>{{work.location}}</span></div>
                        </div>
                        </li>
                        <li class="work-client">
                        <div class="pro-dtl">
                        <strong>Client:</strong><div class="type"><span>{{work.client}}</span></div>
                        </div>
                        </li>
                        
                        <!--<li>
                        <div class="pro-dtl">
                        <strong>Status:</strong><div class="type"><span>{{work.status}}</span></div>
                        </div>
                        </li>-->
                         <li class="work-area">
                        <div class="pro-dtl">
                        <strong>Area:</strong><div class="type"><span>{{work.scale}}</span></div>
                        </div>
                        </li>
                         <li class="work-year">
                        <div class="pro-dtl">
                        <strong>Year:</strong><div class="type"><span>{{work.year}}</span></div>
                        </div>
                        </li>
                        <li class="work-collaborators">
                        <div class="pro-dtl">
                        <strong>Collaborators:</strong><div class="type"><span>{{work.collaborators}}</span></div>
                        </div>
                        </li>
                        <li class="work-photography">
                        <div class="pro-dtl">
                        <strong>Photography/Video:</strong><div class="type"><span>{{work['photo-credits']}}</span></div>
                        </div>
                        </li>
                       
                    </ul>

                    <ul class="pro-details" ng-if="language=='fr'">
                     <!--  <li>
                       <div class="pro-dtl">
                       <strong>Typologie:</strong><div class="type"><span>{{work['work-tags']}}</span></div>
                       </div>
                       </li>-->
                        <li class="work-location">
                             <div class="pro-dtl">
                        <strong>Lieu:</strong><div class="type"><span>{{work.location}}</span></div>
                        </div>
                        </li>
                        <li class="work-client">
                        <div class="pro-dtl">
                        <strong>Client:</strong><div class="type"><span>{{work.client}}</span></div>
                        </div>
                        </li>
                      
                        <!--
                        <li>
                        <div class="pro-dtl">
                        <strong>Statut:</strong><div class="type"><span>{{work.status}}</span></div>
                        </div>
                        </li>-->
                         <li class="work-area">
                        <div class="pro-dtl">
                        <strong>Surface:</strong><div class="type"><span>{{work.scale}}</span></div>
                        </div>
                        </li>
                         <li class="work-year">
                        <div class="pro-dtl">
                        <strong>Year:</strong><div class="type"><span>{{work.year}}</span></div>
                        </div>
                        </li>
                       
                        <li class="work-collaborators">
                        <div class="pro-dtl">
                        <strong>Collaborateurs:</strong><div class="type"><span>{{work.collaborators}}</span></div>
                        </div>
                        </li>
                         <li class="work-photography" >
                        <div class="pro-dtl">
                        <strong>Photographie/Vidéo:</strong><div class="type"><span>{{work['photo-credits']}}</span></div>
                        </div>
                        </li>
                    </ul>



               <!--  <div class="verticalPadding ng-scope"  style="padding: 30px;"></div> -->
         <!--
             
            <div class="show-header__links show-header__links--work">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{work.permalink}}"  target="_blank">
                    <img src="assets/frontend/images/facebook.svg"/>
                </a>
                <a href="https://twitter.com/share?text=@fitchdesign&url={{work.permalink}}"  target="_blank">
                    <img src="assets/frontend/images/twitter.svg"/>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{work.permalink}}"  target="_blank">
                    <img src="assets/frontend/images/linkedin.svg"/>
                </a>
                <a href="https://plus.google.com/share?url={{work.permalink}}"  target="_blank">
                    <img src="assets/frontend/images/gplus.svg"/>
                </a>
                <a href="/contact">
                    <img src="assets/frontend/images/env.svg"/>
                </a>
            </div> -->
            
            <!--<div class="show-header__text" ng-bind-html="work.intro"></div>-->
        </div>
    
        <template-item ng-repeat="item in work.content" item="item"></template-item>
<!--
            <div class="testimonials">
            <div class="testimonial_name">Ujjaval Panchal
            <div class="testimonial_company">72by3 Studio</div>

            </div>
         


            <div class="testomonial_quote">Apart from their standadrd discreet, glare-free and archietctuarlly well-integrated lighting design, they have very successfully touched the heart of the project, which is to connect the interiors with the exterior. They have helped us achieve a very cozy and yet a functional lighting design for this house. </div>

            <div class = "testimonial_description">Apart from their standadrd discreet, glare-free and archietctuarlly well-integrated lighting design, they have very successfully touched the heart of the project, which is to connect the interiors with the exterior. They have helped us achieve a very cozy and yet a functional lighting design for this house.Apart from their standadrd discreet, glare-free and archietctuarlly well-integrated lighting design, they have very successfully touched the heart of the project, which is to connect the interiors with the exterior. They have helped us achieve a very cozy and yet a functional lighting design for this house.Apart from their standadrd discreet, glare-free and archietctuarlly well-integrated lighting design, they have very successfully touched the heart of the project, which is to connect the interiors with the exterior. They have helped us achieve a very cozy and yet a functional lighting design for this house.  </div>
           
            </div>-->
           
             <div class="testimonials_section">

                 <div class="testimonials"  ng-repeat="testi in work.testimonials">
                <div class="testimonial_name">{{testi.author}}
                <div class="testimonial_company">{{testi.designation}}</div>
            </div>
         <div class="testomonial_quote" style="  white-space: pre-wrap;" ng-bind-html="testi.testimonial"></div>
          
            <div class = "testimonial_description">{{testimonial_dada_speech}}</div>
            </div>

                 </div>

                 

<!--
          <div class="testimonials_section">
              <div class="testimonials" ng-if="testimonial_client_speech">
                <div class="testimonial_name">{{testimonial_client}}
                <div class="testimonial_company">{{testimonial_studio}}</div>
            </div>
            <div class="testomonial_quote" ng-bind-html="testimonial_client_speech"></div>
            <div class = "testimonial_description">{{testimonial_dada_speech}}</div>
            </div>

             <div class="testimonials" ng-if="testimonial_client_speech2">
                    <div class="testimonial_name">{{testimonial_client2}}
                    <div class="testimonial_company">{{testimonial_studio2}}</div>
            </div>
         
            <div class="testomonial_quote" ng-bind-html="testimonial_client_speech2"></div>
            <div class = "testimonial_description">{{testimonial_dada_speech2}}</div>
            </div>

             <div class="testimonials" ng-if="testimonial_client_speech3">
            <div class="testimonial_name">{{testimonial_client3}}
            <div class="testimonial_company">{{testimonial_studio3}}</div>
            </div>
         
            <div class="testomonial_quote" ng-bind-html="testimonial_client_speech3"></div>

            <div class = "testimonial_description">{{testimonial_dada_speech3}}</div>
            </div>
            </div>
-->
            
            <div class="verticalPadding" style="padding:20px" ng-if="work['title-slug']=='lalbhai-dalpatbhai-museum'"></div>


<div class="related">
    <!--<span ng-if="related.data.length >= 1"> -->
    <span ng-if="related.data">
        <p class="copy-regular" ng-if="language=='en'">Related Work</p>
         <p class="copy-regular" ng-if="language=='fr'">Projets Connexes</p>
        
    </span>

    <div class="content-block content-block--no-vertical-margin cf" ng-repeat="chunk in related.data">
        <a class="related-link ti-container" ng-repeat="item in chunk" ng-if="chunk.length > 0" href = "{{language}}/work/{{item['title-slug']}}">
            <span class="related_loading_img"></span>
            <div class="related_info_text">
             <!-- <div class="ti-gradient-underlay"></div>-->
              <div class="ti-category ti-category--top copy-basic">{{ item.tags }}</div>
           <!--   <div class="ti-category ti-category--bottom copy-basic">{{ item.tags }}</div> -->
              <div class="ti-text">
               <h4>{{ item['title']  }}</h4> 
                <!--
                  <p class="ti-description copy-reduced">
                      {{ item['title']}}
                  </p> -->
              </div>
            </div>
            <span class="related-link__zoom-img" background-image="{{ item.background | asset:500 }}"></span>
        </a>    

        <a class="related-link related-link--full ti-container" href = "{{language}}/work/{{item['title-slug']}}" ng-repeat="item in chunk" ng-if="chunk.length < 0">
          <span class="related_loading_img"></span>
          <div class="related_info_text">
            <div class="ti-gradient-underlay"></div>
            <div class="ti-category ti-category--top"><a ui=sref="item['work-tag']"> {{item.tags }}</a></div>
            <div class="ti-category ti-category--bottom">{{ item.tags }}</div>

            <div class="ti-text">
                <h2 class="ti-title">{{ item.teaser }}</h2>
                <p class="ti-description">
                    {{ item.title }}
                </p>
            </div>
          </div>
          <span class="related-link__zoom-img" background-image="{{ item.background | asset:500 }}"></span>
        </a>
    </div>
<!--
    <a class="load-more-related" ng-click="loadMore()" ng-show="!hideLoadMore">
        <span class="copy-regular">Load More</span>
        <img src="assets/frontend/images/news/load-more.png" alt="" />
    </a>
    -->
</div>


        <page-footer studios="studios">
            <map>
                <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
            </map>
        </page-footer>
    </div>
</div>

<style>


</style>