<div class="verticalPadding ng-scope" style="padding: 30px;"></div>
<div class="responsive-container">
    <span ng-switch on="item.data.VideoAutoplay">
        
        <iframe ng-switch-when="Yes" ng-src="{{item.data.originalurl + '&amp;autoplay=1' | trustUrl}}"  width="1200"   height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe class="videoh" ng-switch-default ng-src="{{item.data.originalurl | trustUrl}}"  width="1200" height="auto"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


 
    </span>
</div>
<div class="verticalPadding ng-scope" style="padding: 30px;"></div>