<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier Dada - Architects of Light</title>
    
   
    
   <base href="http://127.0.0.1/atelierdada/" target="_blank"> 
   
  <!-- <base href="/atelierdada/" target="_blank"> -->
    

    <link rel="stylesheet" href="combined.min.css">

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/assets/frontend/css/ie9.css" />
    <![endif]-->

    <link rel="icon" type="image/png" href="favicon.ico" />

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="assets/frontend/HelveticaFonts/HelveticaFonts.css">
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>

    <!--Set the viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="app">
    <div id="frame" ng-controller="MainController" ng-class="{'pager': pagerContent, 'pager-mobile': pagerContentMobile, 'main-show': showLoader}">
        <!--Loader-->
        <!--
        <div class="topLoader"></div>
        <div class="bottomLoader"></div>
        <div class="leftLoader"></div>
        <div class="rightLoader"></div>

        <div class="topLoaderMask"></div>
        <div class="bottomLoaderMask"></div>
        <div class="leftLoaderMask"></div>
        <div class="rightLoaderMask"></div>
        
        <img class="loader-ie9" src="assets/frontend/images/loader.gif" />
        -->

        <ng-include src="assets/frontend/partials/controls/menu.html"></ng-include>
    
        <div class="main-menu leftLogo" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li>
            <div ng-click="toggleMenu()" class="menuShow" ng-class="{'active': menuActive == true}">
                <div class="menLayer1"></div>
                <div class="menLayer2"></div>
                <div class="menLayer3"></div>
            </div>
        </li>

        <li class="menExpander whiteBG cf" animate-auto animate-auto-default-width="121" animate-auto-default-height="63">
            <div ng-click="goHome()" class="breadCrumbNav"><img class="FitchMain" src="images/atelier-logo.png"/></div>

            <div class="oh-by-golly-crumbs" ng-show="breadcrumbs.length">
                <div class="oh-by-golly-crumbs-width">
                    <div ng-repeat="breadcrumb in breadcrumbs" class="locTitle">
                        <div class="catText">
                            <a ng-if="$index !== breadcrumbs.length - 1" ui-sref="{{breadcrumb.ref}}" ng-style="{color: '{{colors[breadcrumb.color]}}'}">{{breadcrumb.title}}</a>
                            <span ng-if="$index === breadcrumbs.length - 1" ng-style="{color: '{{colors[breadcrumb.color]}}'}">{{breadcrumb.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="main-menu main-menu-right-aligned seachBox" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li>
            <!--<div ng-click="toggleSearch()" class="whiteBG" ng-class="{magActive: magToggle}">
                <img class="magGlass" src="assets/frontend/images/magGlass.svg"/>
                <div class="menLayer1 menSearch1"></div>
                <div class="menLayer3 menSearch2"></div>
            </div> -->
            <div class="mainSeach">
            	<form>
                    <input type="search" placeholder="Search">
                </form>
            </div>
        </li>
    </ul>
</div>

<div class="main-menu main-menu-bottom-right-aligned" ng-class="{'main-menu-active': controlsVisible, 'main-menu-busy': blockInteraction}">
    <ul>
        <li ng-if="showPreviewCheckbox">
            <div ng-click="clearAndRefresh()" class="whiteBG cache-button" cache-refresh>
                Clear Cache
            </div>
        </li>
        <li ng-if="showPreviewCheckbox">
            <label class="preview-checkbox whiteBG">
                Preview Mode
                <input type="checkbox" ng-click="previewMode()" ng-checked="preview" />
            </label>
        </li>
    </ul>
</div>



        <div class="content-area">
            <div ui-view animate-in class="transition full-height-container" ng-class="{'controls-active': controlsActive, 'controls-inactive': ! controlsActive}"></div>
        </div>

        <!--<div class="topWhiteLine"></div>
        <div class="bottomWhiteLine"></div>
        <div class="leftWhiteLine"></div>
        <div class="rightWhiteLine"></div> -->
    </div>

   <script>
        var settings = {
            AWS_BASE_PATH: 'https://fitch-www-cdn.s3.amazonaws.com/'
        };
    </script>

    <script src="combined.min.js"></script>
</body>
</html>
