<div class="related">
    
        <p  class="copy-regular">More Work</p>
     

    <div class="content-block content-block--no-vertical-margin cf" ng-repeat="chunk in related">
        <a class="related-link ti-container" ng-click="item.go()" ng-repeat="item in chunk" ng-if="chunk.length > 1">
            <span class="related_loading_img"></span>
            <div class="related_info_text">
              <div class="ti-gradient-underlay"></div>
              <div class="ti-category ti-category--top copy-basic">{{ item.title }}</div>
              <div class="ti-category ti-category--bottom copy-basic">{{ item.title }}</div>


              <div class="ti-text">
                  <h4>{{ item.title }}</h4>

                  <p class="ti-description copy-reduced">
                      {{ item.title }}
                  </p>
              </div>

            </div>
            <span class="related-link__zoom-img" background-image="{{ item.background | asset:500 }}"></span>
        </a>

        <a class="related-link related-link--full ti-container" ng-click="item.go()" ng-repeat="item in chunk" ng-if="chunk.length == 1">
          <span class="related_loading_img"></span>
          <div class="related_info_text">
            <div class="ti-gradient-underlay"></div>
            <div class="ti-category ti-category--top">{{ item.title }}</div>
            <div class="ti-category ti-category--bottom">{{ item.title }}</div>

            <div class="ti-text">
                <h2 class="ti-title">{{ item.title }}</h2>

                <p class="ti-description">
                    {{ item.title }}
                </p>
            </div>
          </div>
          <span class="related-link__zoom-img" background-image="{{ item.background | asset:500 }}"></span>
        </a>
    </div>
<!--
    <a class="load-more-related" ng-click="loadMore()" ng-show="!hideLoadMore">
        <span class="copy-regular">Load More</span>
        <img src="assets/frontend/images/news/load-more.png" alt="" />
    </a>
    -->
</div>