<section class="homeContainer full-height-container theOwl">
    <div class="percent50 left">
        <div class="homeContainer full-height-container" ng-style="{'background-image': 'url(\'{{item.data[0].background | asset}}\')', 'background-position': 'center'}" ng-click="item.data[0].go()">
            <div class="homeSection fullHome">
                <div class="textGrad"></div>
                <div class="workArticleText title-stacking">
                    <h1 ng-bind-html="item.data[0].teaser"></h1>

                    <!--<span class="copy-regular"><span ng-bind-html="item.data[0].client"></span></span>-->

                      <span class="copy-regular"><span ng-bind-html="item.data[0].title"></span>

                    <div class="subheading">
                        <span ng-class="item.data[0].getTypeClass()" ng-bind-html="item.data[0].type | uppercase"></span>

                        <span ng-if="item.data[0]['search-industries']">
                            | <span ng-bind-html="item.data[0]['search-industries'] | searchTags"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="percent50 left">
          <div class="homeContainer full-height-container" ng-style="{'background-image': 'url(\'{{item.data[1].background | asset}}\')'}" style="background-position: center" ng-click="item.data[1].go()">
            <div class="homeSection fullHome">
                <div class="textGrad"></div>
                <div class="workArticleText title-stacking">
                    <h1 ng-bind-html="item.data[1].teaser"></h1>

                    <span class="copy-regular"><span ng-bind-html="item.data[1].client"></span></span>
                    <div class="subheading">
                        <span  ng-class="item.data[1].getTypeClass()" ng-bind-html="item.data[1].type | uppercase"></span>

                        <span ng-if="item.data[1]['search-industries']">
                            | <span ng-bind-html="item.data[1]['search-industries'] | searchTags"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
