/*----------------------------------------------------------------------------
	colorscheme1.css for colorscheme 3 - grey

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/


/*-- main container --------------------------------------------------------*/

#container {
	background : url(images/static/contentbg.gif) repeat-y;
}

/*--- header ---------------------------------------------------------------*/
#header	{
	background : url(images/static/headerbg.gif) no-repeat;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
	background : url(images/static/contentbg.gif) repeat-y;
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
	color: #ffffff;
	background : #5B5B5B url(images/static/pgbk.gif) repeat-x;
}

/*--- tables ---------------------------------------------------------------*/

.content table {
	border-color: #ffffff;
}

.content th {
	color: #ffffff;
	background-color:#656565;
}

.content tr.odd {
	color: #415036;
	background-color: #C8C8C8;
}

.content tr.even {
	color: #415036;
	background-color: #C8C8C8;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
	border-color: #ffffff;
}

.content legend{
	color: #ffffff;
}

.content label {
	color: #ffffff;
}

.content input {
	border-color: #84685e;
	background-color: #C8C8C8;
}

.content textarea {
	border-color: #84685e;
	background-color: #C8C8C8;
}

.content button {
	background-color:#4d4d4d;
	border: 1px solid #5F5334;
}

/*--------------------------------------------------------------------------*/
