<div class="scroll-container show-image-background about-us-page" ng-init="imgsrc='images/contact-us/defaultimg.jpg'" background-image="{{imgsrc}}" ng-if="about" style="background-image: url({{imgsrc}}); background-size: 100%; background-repeat: no-repeat; background-color: #000;">

    <div class="show-header">
        <img class="show-header__inline show-header__inline--image animate-show" ng-src="{{imgsrc}}" />
       
        <div class="team">
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/yagnesh.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/neha.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/nirmit.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/marie.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/prem.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/nath.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
            <a href="#" class="member" ng-mouseover="imgsrc='images/contact-us/sundar.jpg'" ng-mouseleave="imgsrc='images/contact-us/defaultimg.jpg'"></a>
        </div>
        
        <div class="show-header__content">
            <!--
            <h2 ng-bind-html="about.title"></h2> -->
            <span class="copy-regular" ng-bind-html="about.subtitle" ng-style="{color: '{{colors.studios}}'}" ng-if="about.subtitle.length"></span>

            <!--<div class="show-header__links">
                <a href="https://www.facebook.com/atelierdada" target="_blank">
                    <img src="assets/frontend/images/facebook_inv.svg" />
                </a>

                <a href="https://twitter.com/atelierdada" target="_blank">
                    <img src="assets/frontend/imOneColumnTextages/twitter_inv.svg" />
                </a>

                <a href="https://www.linkedin.com/company/atelierdada" target="_blank">
                    <img src="assets/frontend/images/linkedin_inv.svg" />
                </a>

                <a href="https://plus.google.com/118182888794394067556" target="_blank">
                    <img src="assets/frontend/images/gplus_inv.svg" />
                </a>

                <a href="mailto:lumiere@atelierdada.com">
                    <img src="assets/frontend/images/env_inv.svg" />
                </a>
            </div>-->

        <!--    <div class="copy-regular" ng-bind-html="about.teaser"></div> -->
        </div>

        <div class="show-header__gradient"></div>
    </div>

    <div class="show-content about-us-content" style="padding-top:60px;">
        <div ng-repeat="item in about.content track by $index">
            <template-item item="item" ng-if="item.template !== 'leadership'"></template-item>

            <div class="people-carousel-cont">
                <div class="people-carousel" ng-if="item.template === 'leadership'">
                    <owl-carousel leadership ng-if="item.data" wait-for-animate="true" show-controls-threshold="3"  owl-options="{responsive: { 0:{ items:1 }, 599:{ items: 2 }, 1023:{ items: 3 } }, loop: false, nav: true, dots: false}">
                        <owl-carousel-item leadership-people ng-repeat="people in item.data"  ng-if="people.template == 'people'" class="item">

                            <div class="relative noOverflow" ng-style="{'background-image': 'url(\'{{people.data.ImagePeople | asset}}\')'};" style="background-size: cover;">
                                <img class="ghost"  ng-src="assets/frontend/images/squareFill.png"/>
                                <video ng-class="{'noDisplayImp':  !playing}" class="overPlay" style="min-width: 100%; height: auto !important; width: auto !important; " >
                                    <source ng-src="{{people.data.Video | trustUrl}}" type="video/mp4">
                                </video>
                            </div>

                            <div class="pTextCont">
                                <div class="personLeft">
                                    <div class="personArrow" ng-click="togglePlay()" ng-show="people.data.Video.length" ng-style="{background: '{{colors.studios}}'}">
                                        <img ng-class="{'noDisplayImp': playing}"  src="assets/frontend/images/personArrow.png"/>
                                        <img ng-class="{'noDisplayImp': !playing}" src="assets/frontend/images/personPause.png"/>
                                    </div>
                                </div>

                                <div class="personRight" style="background: #f9f9f9;">
                                    <div class="personText">
                                        <h6 ng-bind-html="people.data.name"></h6>
                                        <span class="copy-small" ng-style="{color: '{{colors.studios}}'}" ng-bind-html="people.data.role"></span>

                                        <p class="MedLibre" ng-bind-html="people.data.text"></p>
                                    </div>
                                </div>
                            </div>
                        </owl-carousel-item>
                    </owl-carousel>
                </div>
            </div>
        </div>


        <page-footer studios="studios">
            <map>
                <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
            </map>
        </page-footer>
    </div>
    
</div>
