<div class="scroll-container about-us-page about-member-bg"  background-image="images/contact-us/defaultimg.jpg" style="background-image: url({{imgsrc}}); background-size: 100%; background-repeat: no-repeat; background-color: #000;">

 <div class="show-content about-us-content about-member-content">
        <div ng-repeat="item in about.content track by $index">
            <template-item item="item" ng-if="item.template == 'about-us'"></template-item>

             

        </div>
        <div class="contact_icons" >

                 <p class="copy-large" style="font-size:30px;margin-bottom:0px;margin-top:0.8em;" ng-if="language=='en'">Get in touch</p>
                  <p class="copy-large" style="font-size:30px;margin-bottom:0px;margin-top:0.8em;" ng-if="language=='fr'">Rentrer en contact</p>
            

                <a href="{{ace_link}}" target="_blank" ng-show="ace_link">
                    <img src="images/ace-logo.png" width="25px">
                </a>
                <a href="{{viado_link}}" target="_blank"  ng-show="viado_link">
                    <img src="images/viadeo-logo.png" width="55px">
                </a>
                <a href="{{iald_link}}" target="_blank">
                    <img src="images/iald-logo.png" width="34px">
                </a>
                <a href="{{linkedin_link}}" target="_blank">
                    <img src="images/linkedin-logo.png" width="18px">
                </a>


                <!--<a href="https://www.facebook.com/Atelierdada" target="_blank">
                    ACE
                </a>
                <a href="{{language}}/contact">
                   Viadeo
                </a>
                <a href="{{language}}/contact">
                    Iald
                </a>
                <a href="https://www.linkedin.com/company/atelierdada" target="_blank">
                    Linkedin
                </a>-->
                
            </div>
</div>




    <div class="show-header">
        <!--<img class="show-header__inline show-header__inline--image animate-show" ng-src="{{imgsrc}}" />-->
      
        <div class="show-header__content">
            <!--
            <h2 ng-bind-html="about.title"></h2> -->
            <span class="copy-regular" ng-bind-html="about.subtitle" ng-style="{color: '{{colors.studios}}'}" ng-if="about.subtitle.length"></span>

        <!--    <div class="copy-regular" ng-bind-html="about.teaser"></div> -->
        </div>

       <!-- <div class="show-header__gradient"></div>-->
    </div>

   <div class="show-content about-us-content"> 
        <page-footer studios="studios">
            <map>
                <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
            </map>
        </page-footer>
</div>
    
    
</div>
<style>
.contact_icons
{
    text-align: center;
    padding-bottom: 10px;

}
.contact_icons a
{
    margin-right:3px;
    text-decoration: none;
}

.contact_icons img
{
    /*width:50px;
    height: 50px;*/
    height: auto;
  
    
   

}

@media only screen  and (max-width: 768px) and (orientation:portrait) 
{

    .how-we-work .process .panel1, .how-we-work .process .panel2
    {
        padding-left:10px;
        padding-right:10px;

    }

    .middle_panel1 img { width:230px; }

  .middle_panel2 img { width:230px; }

    .right_panel2
    {
        padding-top:13px !important;
    }

.how-we-work .panel2 .title2
{
    padding-top:0px !important;
}
.left_panel1
{
    padding-top:63px !important;
}
/*
.right_panel1
{
     padding-top:63px !important;
}
*/
}



@media only screen and (min-width: 1024px)   and (max-width: 1024px) 
{

   .middle_panel1 img
    {   
    width:270px;

    }

    .middle_panel2 img
    {   
    width:270px;

    }
    .right_panel2 
    {
        padding-top:38px !important;
    }
}


.panel1
{
    
   
}
.left_panel1
{
float:left;
width:33%;
display: inline-table;

   
    padding-top:100px;
    padding-bottom:50px;

}

.middle_panel1
{
float:left;
width:33%;

display: inline-table;


}

.right_panel1
{
float:left;
width:33%;
 display: inline-table;
 
 padding-top:98px;




}
.left_panel2
{
float:left;
width:33%;
clear:both;
padding-top:60px;

}

.middle_panel2
{
float:left;
width:33%;




}

.right_panel2
{
float:left;
width:33%;

 padding-top:94px;




}
.how-we-work .right_panel1 li
{
    font-size:32px;
}

@media only screen and (max-width: 736px) 
{

.left_panel1
{
float:none;
width:100%;
display: inline-table;
padding-top:0px;
padding-bottom:0px;

}
.left_panel2
{
float:none;
width:100%;
display: inline-table;
padding-top:0px;
padding-bottom:0px;

}
.how-we-work .panel2 .title2
{
    padding-top:0px;
}


.middle_panel1 
{
    float:none;
    width:100%;
    text-align:center;

}
.middle_panel1 img
{   
   width:50%;

}

.middle_panel2 
{
    float:none;
    width:100%;
    text-align:center;
}

.right_panel1
{
float:none;
width:100%;
 text-align:center;
 margin: 0 auto;
 padding:0px;
}

.right_panel1 ul
{
margin: 0 auto;
}

.middle_panel2 img
{   
   width:50%;
}
.left_panel2
{
float:none;
width:100%;
clear:both;


}

.middle_panel2
{
clear: left;
width:100%;




}

.right_panel2
{

width:100%;
padding-top:15px;
clear:both;
float:none;
 text-align:center;


}
.how-we-work .process ul
{
    /*padding:0px;*/
    padding-left:0px;
    width:100%;
    list-style:none;
      text-align:center;
      padding-bottom:10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    

   
}

.how-we-work .process .panel1, .how-we-work .process .panel2
{
   
   /*
    padding-left:0px;
    padding-right:0px;
     margin-left: auto;
margin-right: auto;
padding-top:0px;*/


padding:0;
margin: 0 auto;






}

.how-we-work .panel2 .title2
{
    font-size:24px;
}
.how-we-work .title1, .how-we-work .title2
{
    font-size:24px;
}

.how-we-work .process li
{
    font-family:"questrial";
    color:#fff;
    font-weight:bold;
    text-align:center;
    font-size:24px;


}
.how-we-work .panel5
{
   padding-top:20px;
margin: 0 auto;
width:100%;
float:none;


}
.how-we-work .panel5
{
    padding-top:20px;
    margin: 0 auto;
    width:100%;
    float:none;


}
.panel-boxes
{
     float:none;
     width:100%;
     text-align:center;
    min-height:auto;

}
.panel-boxes img
{
      width:50%;
      text-align:center;
}   
}
.copy-medium
{
    font-family:'Questrial', sans-serif;
    font-size:28px;
    font-weight:400;
    color:#fff;
}
.copy-large
{
    padding-bottom:0px !important;
} 

@media only screen and (max-width: 2560px)  {
.about-member-bg{ position: relative; height: 100%;}
.about-member-content{ position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); padding:10px 20px 0; z-index: 9999; max-width:100%; width:100%; background-color: rgba(0,0,0,0.5); margin:0 auto; text-align:center;}
.about-member-content span.copy-large{ font-size: 45px; color: #fff}
.about-member-content div.copy-medium{ font-size: 16px; margin-bottom:15px;}
.about-member-content .about-left-content p{ font-size:20px; color: #777;  padding: 0 10px 0;  margin-top: 0; margin-bottom: .4em; font-family: 'EB Garamond', serif; letter-spacing: 0;}

.about-member-bg .show-header
{ height: 100%;
    z-index: 1 !important;
}
.about-member-content .design_future{ max-width: 90%; width: 100%; margin: 0 auto;}
}
@media (max-width:1024px) {
.about-member-bg{ background-size: cover !important; background-position: center; }
.about-member-content{ max-width: 100%; padding: 0;}
.about-member-content .contact_icons p.copy-large{ margin-top: 0.3em !important; line-height: 1.2; color:#fff;}
}
@media (min-width: 1920px) and (max-width: 2560px)  {
.about-member-content{ max-width: 100%; padding: 20px 15px;}
.about-member-content span.copy-large{ font-size: 70px; color: #fff; line-height: 1;}
.about-member-content div.copy-medium{ font-size: 32px; margin-bottom:20px; margin-top: 15px;}
.about-member-content .about-left-content p{ /*font-size:30px;*/ font-size:30px; color: #777; line-height: 1.3; padding: 0 3px;}
.about-member-content .contact_icons p.copy-large{ margin-top: 0.8em !important; line-height: 1.5; color:#fff;}
.about-member-content .design_future{ max-width: 80%; width: 100%; margin: 0 auto;}
}
@media (max-width:640px) {
.about-member-bg{ background-position: 60% top;}
.about-member-content{ max-width: 100%;}
.about-member-content .design_future{ max-width: 90%;}
.about-member-content .text--copy{ padding:0 20px;}
.about-member-content span.copy-large{ font-size: 20px;}
.about-member-content div.copy-medium{ margin-bottom: 5px; font-size: 14px;}
.about-member-content .about-left-content p{ font-size:16px; color: #777; line-height:1; padding: 0;}
.about-member-content .contact_icons p.copy-large{ font-size: 24px !important;}
}
@media (min-width: 1024px) and (max-width: 1080px) {
.about-member-content .design_future{ max-width: 70%;}
.about-member-content span.copy-large{ font-size:45px;}
.about-member-content div.copy-medium{ margin-bottom: 5px; font-size: 26px;}
.about-member-content .about-left-content p{ font-size:30px; color: #777; line-height:1; padding: 0;}
.about-member-content .contact_icons p.copy-large{ font-size: 30px !important;}
}
@media (min-width: 768PX) and (max-width: 1023PX) {
.about-member-content .design_future{ max-width: 70%;}
.about-member-content span.copy-large{ font-size: 30px;}
.about-member-content div.copy-medium{ font-size: 24px;}
.about-member-content .about-left-content p{ font-size: 22px;}
}
@media (min-width: 641PX) and (max-width: 767PX) {
.about-member-content .design_future{ max-width: 60%;}
}
@media (min-width: 480PX) and (max-width: 640PX) {
.about-member-content .design_future{ max-width: 70%;}
}
@media (min-width: 321px) and (max-width: 479px) {
.about-member-content .text--copy{ padding:0 5px;}
.about-member-content .design_future{ max-width: 100%;}
.about-member-content .about-left-content p{font-size: 14px;}
.about-member-content .contact_icons p.copy-large{ font-size: 18px !important;}
.about-member-content div.copy-medium{ font-size: 14px;}
}
@media (max-width:320px) {
.about-member-content .design_future{ max-width: 100%;}
.about-member-content .text--copy{ padding:0 10px;}
.about-member-content .contact_icons p.copy-large{ font-size: 20px !important;}
.about-member-content .about-left-content p{font-size: 14px;}
}
</style>