<div class="scroll-container contactPage full-height-container" >
          <div class="page-footer" studios="studios">
        <div class="outerMapCont ng-scope" >
    

    <div class="mapHolder">
        <img class="aspectMap" src="assets/frontend/images/WorldMap-less-height.png">
        <!--<div style="background-image: url(/assets/frontend/images/WorldMap.svg);" class=" worldMap" ></div>-->

        <div class="mapTitle">
            <!-- ngIf: language=='en' -->
            <span class="dadahWhiteLogo ng-scope" ng-if="language=='en'">Say Hello!</span>
             <span class="dadahWhiteLogo ng-scope" ng-if="language=='fr'">Un petit Bonjour?</span>
            <div  ng-if="language=='en'" class="sub_title_map">Give us a call, send us an email or drop by to have a chat <img src="assets/frontend/images/face-1298202_640.png" height=25 width=25 style="padding-top:5px" valign="bottom" /> </div>
             <div  ng-if="language=='fr'" class="sub_title_map">Appelez-nous, envoyez-nous un courriel ou passez nous voir <img src="assets/frontend/images/face-1298202_640.png" height=25 width=25 style="padding-top:5px" valign="bottom" /> </div>
            <!-- end ngIf: language=='en' -->
           <!-- ngIf: language=='fr' -->
           
        </div>

        <div class="cityCont" >
            <!-- ngRepeat: studio in studios -->
            <div  name="studio.title" latitude="studio.latitude" longitude="studio.longitude" class="">
    <div class="city" ng-style="{top: '53.1%', left: '48%'}" ng-class="{'largeCity': isSelected(), 'fadeCity': (!isSelected() &amp;&amp; hideText()), 'cityRightAligned': studio.alias === 'london' || studio.alias === 'los-angeles' || studio.alias === 'doha'}" style="top: 48.1%; left: 48.3%;">
        <div class="dot smallDot" ng-click="select('Paris')"></div>
        <div class="cityname smallCity" ng-click="select('Paris')">
            <span class="ng-binding">Paris</span>
        </div>
    </div>
    <div class="cityInfos">
        <div class="mapText mapTextCity MedLibre exitText" ng-class="{'exitText': !isparisSelected, 'currentLink': isparisSelected}" >
            <!--<div class="studAddress">{{studio.address}}</div>-->
            <div class="contactInfo paris">
                <span>
                    <div class="studioBtn whiteButton ng-binding paris-btn">
                      <a href="/studios/paris"></a>
                      59 Rue Stephensen - 75018. France  lumiere@atelierdada.com +33 1 75 50 96 82
                        </div>
                </span>
             </div>
        </div>
    </div>  
</div><!-- end ngRepeat: studio in studios -->

<!-- end ngRepeat: studio in studios -->
        </div>
    </div>

    <div class="mobMap">
        <img src="assets/frontend/images/WorldMap-less-height.png" class="img-responsive">

        <div class="mapTitle">
            <a class="noDecoration" href="studios"><span class="uppercase"><img class="mobFitchLogo" src="images/atelier-logo.png"></span> <span class="greenText">Studios</span></a>
        </div>
        <!--<div class="mapList">
            <mob-map ng-repeat="studio in studios" studio="studio"></mob-map>
        </div>-->
    </div>

    
</div>
    </div> 
    <div class="show-content">
    <div class="formContainer">
        <div class="mobile_say_hello">
               <div class="" style="text-align:center">
                <h3 class="whiteTitle"  ng-if="language=='en'">Say Hello!</h3>
                <p style="color:#777;"  ng-if="language=='en'"  >Give us a call, send us an email or drop by to have a chat <img src="assets/frontend/images/face-1298202_640.png"  height=25 width=25 style="padding-top:5px;" valign="bottom"  /> </p>
        
        <h3 class="whiteTitle"  ng-if="language=='fr'">Un petit Bonjour?</h3>
                <p style="color:#777;"  ng-if="language=='fr'"  >Appelez-nous, envoyez-nous un courriel ou passez à notre atelier pour discuter <img src="assets/frontend/images/face-1298202_640.png"  height=25 width=25 style="padding-top:5px;" valign="bottom"  /> </p>
        
        </div>
        </div>

<!--
<div ng-bind-html="contact.content[0].data.OneColumnText" >  
    </div>-->

  <div class="contactForm">
            <div id="contact1" >
               
                <div class="say_hello">
                    <h3 class="whiteTitle left" ng-if="language=='en'">Invite Us</h3>
                    <h3 class="whiteTitle left" ng-if="language=='fr'">Inviter</h3>
                    <p ng-if="language=='en'">We love to share our knowledge with audience. Invite us to spread lighting design awarness.</p>
                    <p ng-if="language=='fr'">Nous aimons partager nos connaissances avec une audience curieuse. Invitez-nous à propager la culture de la conception lumière.</p>
                </div>

             <div class="studio_icon" ng-class="{'studio_icon':language=='en','studio_icon_fr':language=='fr' }" ng-click="gotostudio()" >

    </div>
</div>       
  <div class="follow">
 <h3 class="whiteTitle left" ng-if="language=='en'">Follow</h3> 
 <h3 class="whiteTitle left" ng-if="language=='fr'">Suivre</h3> 
 <p ng-if="language=='en'"> 
      We're social, follow us on your favorite social media sites. 
 
                

                <p ng-if="language=='fr'"> 
     Nous sommes connectés, suivez-nous sur vos réseaux sociaux préférés.
    
             </p>
              
    </div>       

        
                       
    <div class="curront-position">
            <h3 class="whiteTitle left" ng-if="language=='en'">Grow with us</h3>
              <h3 class="whiteTitle left" ng-if="language=='fr'">Grandir avec nous</h3>  
                        <div class="career_text" ng-if="language=='en'"><p>
                    Join us in an inspiring, fast-paced, exciting and ever-changing environment where new ideas and initiatives are the “dada”. Since we are constantly growing, we’re always on the lookout for talent to complement and enrich our team. Would you like to be part of the journey? 
                    Then send your resume and profile to <a href="mailto:lumiere@atelierdada.com">lumiere@atelierdada.com.</a> </p>
            </div>
                <div class="career_text" ng-if="language=='fr'">
                    <p>
                    Rejoignez-nous dans une atmosphère inspirante, excitante et exigente où les nouvelles idées et l'esprit d'initiative sont les "dada". Comme nous sommes en évolution permanante, alors nous sommes toujours à la recherche de nouveaux talents pour compléter et enrichir notre équipe. Voulez-vous faire partie du voyage? Alors envoyez votre CV et profil à <a href="mailto:lumiere@atelierdada.com" style="margin:0 auto">lumiere@atelierdada.com.</a> </p>
            </div>
   
  
    </div>    
<!-- 

  <div ng-repeat="item in contact.content track by $index">
            <template-item item="item" ng-if="item.template !== 'leadership'"></template-item>

   </div> -->   
      
        <div class="div_contact" style="margin: 0 auto; text-align: center; padding-top:20px;">
      <form id="contact_form" name="contactForm" novalidate action="#" method="POST" enctype="multipart/form-data">
                <div id="contact1"  ng-show="stages.contact1" >
                    <h3 class="whiteTitle left"  ng-if="language=='en'">Write us</h3> 
                    <h3 class="whiteTitle left"  ng-if="language=='fr'">Nous écrire</h3>
                    <div style="padding:10px"></div>

                    <div class="row">
                        <input id="name" ng-if="language=='en'" class="input" name="firstname" ng-class="{validAttempt: (subClick && contactForm.firstname.$invalid)}" placeholder="Name *" type="text" value="" size="30"  ng-model="contact.firstname" required />
                        
                    <input id="name" ng-if="language=='fr'"  class="input" name="firstname" ng-class="{validAttempt: (subClick && contactForm.firstname.$invalid)}" placeholder="Nom *" type="text" value="" size="30"  ng-model="contact.firstname" required />
                        

                        <br/>
                      
                      
                        <div class="validation">
                            <div ng-show="(contactForm.firstname.$dirty && contactForm.firstname.$invalid) || (contactForm.firstname.$pristine && subClick == true)">
                                <span ng-show="contactForm.firstname.$error.required">&#8226; This is a required field</span>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="row">
                        <input id="surname" class="input" name="lastname" placeholder="Surname *" ng-class="{validAttempt: (next && contactForm.lastname.$invalid)}" type="text" value="" size="30"  ng-model="contact.lastname" required  /><br/>
                        <div class="validation">
                            <div ng-show="(contactForm.lastname.$dirty && contactForm.lastname.$invalid) || (contactForm.lastname.$pristine && next == true)">
                                <span ng-show="contactForm.lastname.$error.required">&#8226; This is a required field</span>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <input id="email" class="input" name="email" placeholder="Email *" ng-class="{validAttempt: (subClick && contactForm.email.$invalid)}" type="email" value="" size="30"  ng-model="contact.email" required /><br/>
                        <div class="validation">
                            <div ng-show="(contactForm.email.$dirty && contactForm.email.$invalid) || (contactForm.email.$pristine && subClick == true)">
                                <span ng-show="contactForm.email.$error.required">&#8226; This is a required field</span>
                                <span ng-show="contactForm.email.$error.email">&#8226; This is not a valid email</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <input id="telephone" class="input" name="phone" placeholder="Telephone" ng-class="{validAttempt: (subClick && contactForm.phone.$invalid)}" type="number" value="" size="30"  ng-model="contact.phone" /><br/>
                        <div class="validation">
                            <div ng-show="(contactForm.phone.$dirty && contactForm.phone.$invalid) || (contactForm.phone.$pristine && subClick == true)">
                                <!--<span ng-show="contactForm.phone.$error.required && !contactForm.phone.$error.number">&#8226; This is a required field</span>-->
                                <span ng-show="contactForm.phone.$error.number">&#8226; Invalid telephone number</span>
                            </div>
                        </div>
                    </div>

                     <div class="row">
                        <textarea id="message" class="input" name="message" placeholder="Message" ng-class="{validAttempt: (subClick && contactForm.message.$invalid)}" ng-model="contact.message" 
                        rows="6" 
                        cols="30" required></textarea>
                        <div class="validation">
                            <div ng-show="(contactForm.message.$dirty && contactForm.message.$invalid) || (contactForm.message.$pristine && subClick == true)">
                                <span ng-show="contactForm.message.$error.required">&#8226; Please enter a message</span>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="row">
                        <select name="choice" ng-model="contact.studio" ng-class="{validAttempt: (next && contactForm.choice.$invalid)}" ng-options="studio.key as studio.value for studio in studios" ng-minlength="1" required>
                            <option ng-show="contactForm.choice.$pristine" value="" selected>Select *</option>
                        </select>

                        <div class="validation">
                            <div ng-show="studioHide">
                                <span ng-show="contactForm.choice.$pristine">&#8226; Please select a recipient studio</span>
                            </div>
                        </div>

                    </div>-->
                     <div class="row">
                        <button id="submit_button" ng-show="language=='en'" class="turquoiseButton nextButtton" type="button" ng-click="show('contact3'); subClick = true; contact3=true">Submit</button>

<button id="submit_button" ng-show="language=='fr'" class="turquoiseButton nextButtton" type="button" ng-click="show('contact3'); subClick = true; contact3=true">Envoyer</button>

 
                    </div>
<!--
                    <div class="row">
                        <button class="turquoiseButton nextButtton uppercase" type="button" ng-click="show('contact2'); studioHide = true; next = true;">Next</button>
                    </div> -->
                </div>

              

                <div id="contact3" ng-show="stages.contact3">
                    <div ng-show="sending">
                        Sending...
                    </div>

                    <div ng-show="!sending && complete">
                        <div class="">
                            <h3 class="noMargin whiteTitle" ng-if="language=='en'">Thank you</h3>  Merci

                            <h3 class="noMargin whiteTitle" ng-if="language=='fr'" >Merci</h3>

                            <br></div>
                        <div class="">
                            <p class="noMargin" ng-if="language=='en'">We will be in touch shortly.</p>

                               <p class="noMargin" ng-if="language=='fr'">Nous vous  répondrons dans les meilleurs délais.</p>
                            
                        
                            </div>
                    </div>

                    <div ng-show="!sending && error">
                        <div class="alignLeft"><h3 class="noMargin whiteTitle ">Error</h3><br></div>
                        <div class="alignLeft"><p class="LargeLibre noMargin">Something went wrong. <a ng-click="show('contact1')">Try again?</a></p></div>
                    </div>
                </div>
            </form>
         </div>

                </div>
                <div class="ilabsignature">
                   <span class="send-url" ng-if="language=='fr'" ><a href='http://www.inheritlab.com'>Site web par Inherit lab</a></span>
                       <span class="send-url"  ng-if="language=='en'"><a href='http://www.inheritlab.com'>Site by Inherit lab</a></span>
                   </div>
        </div>
    </div>
    <footer >
        <div class="footerCont">
            <div class="width25">
                <a href="{{language}}/contact">
                    <img src="assets/frontend/images/footerEmail.png">
                </a>

                <a href="https://www.facebook.com/Atelierdada" target="_blank">
                    <img src="assets/frontend/images/footerFacebook.png">
                </a>

                <a href="https://twitter.com/atelierdada" target="_blank">
                    <img src="assets/frontend/images/footerTwitter.png">
                    
                </a>
                   <a href="https://vimeo.com/user24823308" target="_blank">
                    <img src="assets/frontend/images/vimeo-icon.png" height=15 />
                </a>

                <a href="https://www.linkedin.com/company/atelierdada" target="_blank">
                    <img src="assets/frontend/images/footerLinkedIn.png">
                </a>
                 <a href="https://plus.google.com/118182888794394067556" target="_blank">
                    <img src="assets/frontend/images/google-plus-20x15.png" height=15 />
                </a>
            </div>

            <!-- ngIf: language=='en' --><div class="width75 ng-scope" ng-if="language=='en'">
                ©<span date-now="yyyy"></span> Atelier dada. All rights reserved</a> | <a href="en/privacy-policies">Legal notice</a>
               </div>
                <div class="width75 ng-scope" ng-if="language=='fr'">
                 &copy;<span date-now="yyyy"></span> Atelier dada. Tous droits réservés | <a href="fr/privacy-policies">Mentions légales</a>
             
            </div><!-- end ngIf: language=='en' -->

               <!-- ngIf: language=='fr' -->


        </div>
    </footer>

  <!--  <page-footer studios="studios">
            <map>
                <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
            </map>
        </page-footer>-->
</div>  

    </div>

    <style>
        .div_contact
        {
             width:450px;
        }

@media (max-width: 599px)
{

    .div_contact 
    {
        width: 100%;
        height: auto;
        text-align: center;
    }
}
.social_icons_middle a
{
   margin:15px;
   color:black;
}
.studio_icon_fr
{
   background:rgba(0, 0, 0, 0) url("images/studio-icon-fr.png") no-repeat scroll center center
}
@media all and (max-width:768px) {

    .mobile_say_hello
    {
        display:'';
    }
    .mapTitle
    {
        display:none;
    }
    .cityCont
    {
        display:none;
    }
    .studio_icon
    {
        margin-top:0px;
        margin-bottom:14px;
    }
    
}

@media all and (min-width:768px) {

    .mobile_say_hello
    {
        display:none;
    }
}

@media all and (min-width:1024px) and (max-width:1366px){ 

.mapTextCity
{
    margin-bottom:-40px; 

}
}

@media all and (min-width:1400px) and (max-width:1920px)  {

.mapTextCity
{
    margin-bottom:0px; 

}
}




.mapTitle{top:50px;}

    </style>