<div class="scroll-container show-image-background about-us-page" >

    <div class="show-header">
        <div class="show-header__content">
      
            <span class="copy-regular"></span>
        </div>

        <div class="show-header__gradient"></div>
    </div>

    <div class="show-content about-us-content">
        <div >
           <div class="content-block text--copy ng-binding ng-scope"><h2>Architects of Light</h2><p>We are an imaginative multidisciplinary team of design professionals who provide state-of-the art consultation  in  Architectural and Urban Lighting Design. </p><p>We approach Lighting Design in a wholistic manner, bringing social and artistic dimension with technical Know-How.</p><p>We provide innovation, talent, multidisciplinary experience with proven ability to deliver cutting-edge lighting solution and related services to our client, with global vision and local actions.</p> <p>We are Professional Design Studio solely dealing with Light, offering impartial service in the interest of the project to our client.</p><p>We operate from our unique studio @ Paris in France.</p></div>
            </div>
        </div>


           <page-footer studios="studios">
        <map>
            <map-city ng-repeat="studio in studios" name="studio.title" latitude="studio.latitude" longitude="studio.longitude"></map-city>
        </map>
    </page-footer>
        
    </div>
</div>