<div class="outerMapCont" ng-class="{'retailTextCont': retail && !graphic, 'graphicTextCont': graphic && !retail}">


    <div class="mapHolder">
        <img class="aspectMap" src="assets/frontend/images/WorldMap.png">
        <!--<div style="background-image: url(/assets/frontend/images/WorldMap.svg);" class=" worldMap" />-->
        <div class="mapTitle">
              <span class="our_studios" ng-if="language == 'en'"><a href="en/studios?page=0">Studios</a></span>
            <span class="map_main_title" ng-if="language == 'en'">Say Hello!</span>
<div  ng-if="language=='en'" class="sub_title_map">Give us a call, send us an email or drop by to have a chat <img src="assets/frontend/images/face-1298202_640.png" height=25 width=25 style="padding-top:5px" valign="bottom" /> </div>
            <span class="our_studios" ng-if="language == 'fr'"><a href="fr/studios?page=0">Ateliers</a></span>
            <span class="map_main_title" ng-if="language == 'fr'">Un petit Bonjour?</span>
            <div  ng-if="language=='fr'" class="sub_title_map">Appelez-nous, envoyez-nous un courriel ou passez nous voir <img src="assets/frontend/images/face-1298202_640.png" height=25 width=25 style="padding-top:5px" valign="bottom" /> </div>
        </div>
  
            

        <!--<div class="graphicText">
            <img src="/assets/frontend/images/background7.jpg"/>

            <a href="#" ng-click="retail = false; graphic = false;" style="text-decoration: underline; color: #bfd601;">Back to map</a>
        </div>-->

        <div class="retailText">
            <p>

            </p>

            <!--<p>Something about the wonders of <a style="text-decoration: underline; color: #bfd601;" ng-click="graphic = true; retail = false;">our process.</a></p>-->
            <a ng-click="retail = false;
                graphic = false;" style="text-decoration: underline; color: #bfd601;">Back to map</a>

        </div>

        <div class="cityCont" ng-transclude></div>
    </div>

    <div class="mobMap">
        <img src="assets/frontend/images/WorldMap.png" class="img-responsive" />

        <div class="mapTitle">
            <a class="noDecoration" href="/studios"><span class="uppercase"><img class="mobFitchLogo" src="images/atelier-logo.png"></span> <span class="greenText">Studios</span></a>
        </div>
        <!--<div class="mapList">
            <mob-map ng-repeat="studio in studios" studio="studio"></mob-map>
        </div>-->
    </div>

    <footer ng-show="show_footer === undefined">

        <div class="container">

            <div class="footerCont">
            <div class="width25">
                <a href="en/contact" ng-if="language == 'en'">
                    <img src="assets/frontend/images/footerEmail.png" />
                </a>

                <a href="fr/contact" ng-if="language == 'fr'">
                    <img src="assets/frontend/images/footerEmail.png" />
                </a>

                <a href="https://www.facebook.com/Atelierdada.architectsoflight/" target="_blank">
                    <img src="assets/frontend/images/footerFacebook.png" />
                </a>

                <a href="https://twitter.com/atelierdada" target="_blank">
                    <img src="assets/frontend/images/footerTwitter.png" />
                </a> 

                 <a href="https://vimeo.com/user24823308" target="_blank">
                    <img src="assets/frontend/images/vimeo-icon.png" height=15 />
                </a>
                 

                <a href="https://www.linkedin.com/company/atelierdada" target="_blank">
                    <img src="assets/frontend/images/footerLinkedIn.png" />
                </a>

                <!--
                <a href="https://plus.google.com/118182888794394067556" target="_blank">
                    <img src="assets/frontend/images/google-plus-20x15.png" height=15 />
                </a>
                -->
                
                
            </div>

            <div class="width75" ng-if="language == 'en'">
                &copy;<span date-now="yyyy"></span> Atelier dada. All rights reserved</a> | <a href="en/privacy-policies">Legal notice</a>

            </div>

            <div class="width75" ng-if="language == 'fr'">
                &copy;<span date-now="yyyy"></span> Atelier dada. Tous droits réservés | <a href="fr/privacy-policies">Mentions légales</a>
            </div>


        </div>
            
        </div>

        
    </footer>
</div>