<div>
    <div class="city" ng-style="{top: '{{studio.xcoordinate}}%', left: '{{studio.ycoordinate}}%'}" ng-class="{'largeCity': isSelected(), 'fadeCity': (!isSelected() && hideText()), 'cityRightAligned': studio.alias === 'london' || studio.alias === 'los-angeles' || studio.alias === 'doha'}">
        <div class="dot smallDot" ng-click="select(studio.title)"></div>
        <div class="cityname smallCity" ng-click="select(studio.title)">
            <span>{{studio.title}}</span>
        </div>
    </div>

    <div class="cityInfos">
        <div class="mapText mapTextCity MedLibre "  ng-class="{'exitText': !isSelected(), 'currentLink': isSelected()}">
            <!--<div class="studAddress">{{studio.address}}</div>-->
            <div class="contactInfo">
               <!-- <div class="gMaps"><a target="_blank" href="https://www.google.com/maps?q={{studio.address}}"><img src="assets/frontend/images/googleMaps.svg"><div>Google Maps</div></a></div>
                <div class="telephone"><a href="{{studio['clean-phone'] | tel}}"><img src="/assets/frontend/images/telephone.svg"><div>{{studio.telephone}}</div></a></div>
                <div class="planeEmail"><a href="{{studio.email | mailto}}" target="_blank"><img src="assets/frontend/images/paperPlane.svg"><div>{{studio.email}}</div></a></div>-->
                <span>
                    <div class="studioBtn whiteButton">
                        <!--<a href="/studios/{{studio['location-slug']}}"></a>-->
                        {{studio.address}} {{studio.email}}
                        </div>
                    </span>
             </div>
        </div>
    </div>
</div>